*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #eee;
}

header .header-info-company{
    display: flex;
    text-decoration: none;
    color: #0e4a9a;
}

.header-info-company .header-logo-company{
    
}

.header-logo-company img{
    width: 80px;
    height: 80px;
}

.header-info-company .header-text-company{
    line-height: 30px;
}

.header-text-company h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.header-text-company i{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
}

header .header-social-company{

}

.header-social-company ul{
    display: flex;
    list-style: none;
    margin: auto;
}

.header-social-company li{
    margin: 0px 2px;
    border: 1px solid transparent;
    transition: 0.7s;
    border-radius: 5px;
    box-shadow: 0 0 0px 0px black;
}

.header-social-company li:hover{
    border: 1px solid rgb(182, 181, 181);
    transform: translateY(-5px);
    transition: 0.7s;
    box-shadow: 0 1px 5px 0px black;
}

.header-social-company a{

}

.header-social-company img{
    width: 40px;
    height: 40px;
}



